<link type="text/css" rel="stylesheet" href="/static/css/web/page404.css?v=<?php echo $_version;?>" />

<body class="">

<div class="zhiye-root">
    <header class="header_main" id="header"></header>
    <section class="zy404">
        <article class="img404">
            <article class="tuimg"><img src="/static/images/web/img_404.png"></article>
            <article class="font404 f72">404</article>
            <article class="font404 f18"> 您访问的页面找不到咯</article>

            <a href="/">
                <div class="w322h62" >
                    <div class="w322h6">前往知页首页</div>

                </div>
            </a>
        </article>
    </section>
    <div class="zhiye-root-footer"></div>
</div>

<?php if($_is_web==1){?>
<footer id="footercontainer" class="footermain_1"></footer>
<?php }?>

<script src="/static/js/web/page404.js?v=<?php echo $_version;?>"></script>

</body>