<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="keywords" content="<?php echo $_head['keywords'];?>" />
    <meta name="description" content="<?php echo $_head['description'];?>" />
    <meta name="format-detection" content="telephone=no">
    <title><?php echo isset($_title) ? $_title : $_head['title'];?></title>

    <link rel="icon" href="/favicon.ico?v=<?php echo $_common_version;?>" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico?v=<?php echo $_common_version;?>" type="image/x-icon">
    <link rel="bookmark" href="/favicon.ico?v=<?php echo $_common_version;?>" type="image/x-icon">

    <?php if($_is_gulp == 1){?>

    <link rel="stylesheet" href="/static/css/web/??bootstrap.css,common/common.css,animations.css?v=<?php echo $_common_version;?>">
    <script src="/static/js/??web/common/common.js,fastclick.js?v=<?php echo $_common_version;?>"></script>
    <?php if(empty($_user['id'])){?>
    <script id="gt_lib" src="http://static.geetest.com/static/js/geetest.0.0.0.js" charset="UTF-8" type="text/javascript"></script>
    <?php }?>

    <?php }?>
</head>

    <?php echo $content;?>

    <?php if($_is_gulp == 1){?>
    <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
    <?php }?>

    <script src="/static/js/tongji.js?v=<?php echo $_common_version;?>"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            debug: false,
            appId: '<?php echo $_wx_jsapi_package["appId"];?>',
            timestamp: <?php echo $_wx_jsapi_package["timestamp"];?>,
            nonceStr: '<?php echo $_wx_jsapi_package["nonceStr"];?>',
            signature: '<?php echo $_wx_jsapi_package["signature"];?>',
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
            ]
        });

        wx.ready(function() {
            wx.onMenuShareTimeline({
                title: '<?php echo $_wx_jsapi_package["share_title"];?>', // 分享标题
                link: '<?php echo $_wx_jsapi_package["share_link"];?>', // 分享链接
                imgUrl: '<?php echo $_wx_jsapi_package["share_imgUrl"];?>', // 分享图标
                success: function () {},
                cancel: function () {}
            });

            wx.onMenuShareAppMessage({
                title: '<?php echo $_wx_jsapi_package["share_title"];?>', // 分享标题
                desc: '<?php echo $_wx_jsapi_package["share_desc"];?>', // 分享描述
                link: '<?php echo $_wx_jsapi_package["share_link"];?>', // 分享链接
                imgUrl: '<?php echo $_wx_jsapi_package["share_imgUrl"];?>', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {},
                cancel: function () {}
            });
        });
    </script>
</html>
